*/*/*/node_modules/*
*/*/*/*/node_modules/*
*.Rhistory
data-collection/*
archive/*
experiments/experiment0/stims
*/*/rsconnect/
models/*/*/*-autoexpanded.wppl
*_cache
*_files
*autoexpanded.wppl
papers
presentation-resources
notes
*.png
*.DS_Store
*.RData
*node_modules
*.html
*.pdf
*.key
models/06-rsa-vary-parameters
models/05-examples
models/07-rsa-for-lk-booleans
models/12-bda/
models/09-extra-simple-lk/
models/08-webppl-only
models/11-flat-lk
